@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the biggest international movie store ever!</h2>
<div class="doge margin-top-50">
    <img class="img-responsive" src="http://i0.kym-cdn.com/entries/icons/facebook/000/013/564/aP2dv.jpg" />
</div>
